<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysTableInfoMapper">

    <resultMap type="com.ruoyi.system.domain.SysTableInfo" id="SysTableInfoResult">
        <result property="tableId" column="table_id"/>
        <result property="tableCode" column="table_code"/>
        <result property="tableName" column="table_name"/>
        <result property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
        <result property="storeId" column="store_id"/>
        <result property="storeName" column="store_name"/>
        <result property="capacity" column="capacity"/>
        <result property="hourlyRate" column="hourly_rate"/>
        <result property="deposit" column="deposit"/>
        <result property="tableStatus" column="table_status"/>
        <result property="currentPlayers" column="current_players"/>
        <result property="location" column="location"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectTableInfoVo">
        select table_id, table_code, table_name, type_id, type_name, store_id, store_name,
               capacity, hourly_rate, deposit, table_status, current_players, location,
               sort, status, del_flag, create_time, update_time, remark
        from sys_table_info
    </sql>

    <select id="selectTableInfoList" parameterType="com.ruoyi.system.domain.SysTableInfo" resultMap="SysTableInfoResult">
        <include refid="selectTableInfoVo"/>
        where del_flag = '0'
        <if test="tableName != null and tableName != ''">
            AND table_name like concat('%', #{tableName}, '%')
        </if>
        <if test="tableCode != null and tableCode != ''">
            AND table_code = #{tableCode}
        </if>
        <if test="typeId != null">
            AND type_id = #{typeId}
        </if>
        <if test="storeId != null">
            AND store_id = #{storeId}
        </if>
        <if test="tableStatus != null and tableStatus != ''">
            AND table_status = #{tableStatus}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        order by sort asc
    </select>

    <select id="selectTableInfoById" parameterType="Long" resultMap="SysTableInfoResult">
        <include refid="selectTableInfoVo"/>
        where table_id = #{tableId}
    </select>

    <select id="checkTableCodeUnique" parameterType="String" resultMap="SysTableInfoResult">
        <include refid="selectTableInfoVo"/>
        where table_code = #{tableCode} and del_flag = '0'
    </select>

    <insert id="insertTableInfo" parameterType="com.ruoyi.system.domain.SysTableInfo" useGeneratedKeys="true" keyProperty="tableId">
        insert into sys_table_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableCode != null and tableCode != ''">table_code,</if>
            <if test="tableName != null and tableName != ''">table_name,</if>
            <if test="typeId != null">type_id,</if>
            <if test="typeName != null">type_name,</if>
            <if test="storeId != null">store_id,</if>
            <if test="storeName != null">store_name,</if>
            <if test="capacity != null">capacity,</if>
            <if test="hourlyRate != null">hourly_rate,</if>
            <if test="deposit != null">deposit,</if>
            <if test="tableStatus != null">table_status,</if>
            <if test="currentPlayers != null">current_players,</if>
            <if test="location != null">location,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableCode != null and tableCode != ''">#{tableCode},</if>
            <if test="tableName != null and tableName != ''">#{tableName},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="storeName != null">#{storeName},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="hourlyRate != null">#{hourlyRate},</if>
            <if test="deposit != null">#{deposit},</if>
            <if test="tableStatus != null">#{tableStatus},</if>
            <if test="currentPlayers != null">#{currentPlayers},</if>
            <if test="location != null">#{location},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateTableInfo" parameterType="com.ruoyi.system.domain.SysTableInfo">
        update sys_table_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableCode != null and tableCode != ''">table_code = #{tableCode},</if>
            <if test="tableName != null and tableName != ''">table_name = #{tableName},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="storeName != null">store_name = #{storeName},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="hourlyRate != null">hourly_rate = #{hourlyRate},</if>
            <if test="deposit != null">deposit = #{deposit},</if>
            <if test="tableStatus != null">table_status = #{tableStatus},</if>
            <if test="currentPlayers != null">current_players = #{currentPlayers},</if>
            <if test="location != null">location = #{location},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where table_id = #{tableId}
    </update>

    <update id="updateTableStatus">
        update sys_table_info set table_status = #{tableStatus}, update_time = sysdate()
        where table_id = #{tableId}
    </update>

    <delete id="deleteTableInfoByIds" parameterType="Long">
        update sys_table_info set del_flag = '1' where table_id in
        <foreach item="tableId" collection="array" open="(" separator="," close=")">
            #{tableId}
        </foreach>
    </delete>

</mapper>
